<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ошибка 404</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<section class="other-section">
    <div class="container">
        <h2>Ошибка 404</h2>
        <p>Страница не найдена. Возможно, вы ввели неправильный адрес.</p>
        <a th:href="@{/}" class="btn">На главную</a>
    </div>
</section>
<div th:replace="fragments/footer.html"></div>
</body>
</html>
