<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="История просмотров">
  <title>История просмотров</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/header.html"></div>

<main>
  <section class="history-section">
    <div class="container">
      <h2>История просмотров</h2>
      <ul>
        <li><a href="#">Программирование на Java</a> - просмотрено 2025-03-23</li>
        <li><a href="#">Программирование на Python</a> - просмотрено 2025-03-24</li>
      </ul>
    </div>
  </section>
</main>

<div th:replace="fragments/footer.html"></div>
</body>
</html>
