<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<section class="registration-section">
    <div class="container">
        <h2>Вход</h2>
        <div th:if="${param.error}" class="auth-error">
            <div th:if="${param.error[0] == 'blocked'}"> <!-- Используем [0] и == -->
                <p class="validationError">Ваш аккаунт заблокирован</p>
            </div>
            <div th:if="${param.error[0] == 'true'}"> <!-- Используем [0] и == -->
                <p class="validationError">Неверный логин или пароль</p>
            </div>
        </div>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Войти</button>
        </form>
        <p>Ещё нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a></p>
    </div>
</section>
</body>
<div th:replace="fragments/footer.html"></div>
</html>
