<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подписки</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/subscriptions_page.js}"></script>
</head>
<body>

<div th:replace="fragments/header.html"></div>

<main>
    <section class="history-section">
        <div class="container">
            <h2>Ваши подписки</h2>
            <table class="history-table">
                <thead>
                <tr>
                    <th>Автор</th>
                    <th>Дата подписки</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subscription : ${subscriptions}">
                    <td>
                        <a th:href="@{/video/{id}(id=${1})}">
                            <img class="user-avatar" th:src="${subscription.getAuthor().getImagePath()}" alt="Миниатюра">
                        </a>
                    </td>
                    <td th:text="${#temporals.format(subscription.getSubscribedAt(), 'dd.MM.yyyy')}"></td>
                    <td>
                        <form th:action="@{/api/user/subscribe}" method="post" class="user-info">
                            <input type="hidden" name="author" th:value="${subscription.getAuthor().getUserId()}">
                            <input type="hidden" name="actionSubscribeEnum" th:value="${subscription.isSubscribed() ? 'UNSUBSCRIBE' : 'SUBSCRIBE'}">
                            <button class="subscribe-button" type="submit" th:text="${subscription.isSubscribed() ? 'Отписаться' : 'Подписаться'}">Подписаться</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</main>

<div th:replace="fragments/footer.html"></div>

</body>
</html>
</title>
</head>
<body>

</body>
</html>