<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Отчеты пользователя">
    <title>Отчеты</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/header.html"></div>

<main>
    <section class="user-reports">
        <div class="container">
            <h2>Статистика аккаунта</h2>
            <div class="report-card">
                <p>Количество лайков, поставленных под видео:</p>
                <span th:text="${likesCount}">15</span>
            </div>
            <div class="report-card">
                <p>Количество дизлайков, поставленных под видео:</p>
                <span th:text="${dislikesCount}">2</span>
            </div>
            <div class="report-card">
                <p>Количество оставленных комментариев:</p>
                <span th:text="${commentsCount}">4</span>
            </div>
        </div>
    </section>
</main>

<div th:replace="fragments/footer.html"></div>
</body>
</html>
