<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Просмотр видео">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta th:name="_video_id" th:content="${videoId}"/>
    <meta th:name="_author_id" th:content="${video.getAuthor().getUserId()}"/>
    <title th:text="${video.title} + ' | RadikTube'">Просмотр видео | RadikTube</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script th:src="@{/js/video_page.js}"></script>
    <style>
    </style>
</head>
<body>
<div th:replace="fragments/header.html"></div>

<main>
    <section class="video-view">
        <div class="video-container">
            <video controls th:src="${video.getVideoPath()}" class="video-player"></video>

            <div class="video-info">
                <h1 class="video-title" th:text="${video.getTitle()}">Название видео</h1>

                <div class="video-meta">
                    <span class="video-views" th:text="${videoViews} + ' просмотров'">Количество просмотров</span>
                    <span class="video-date"  th:text="${#temporals.format(video.getCreatedAt(), 'dd.MM.yyyy')}"></span>
                </div>

                <div class="video-actions">
                    <button class="action-button" onclick="onVideoMark(1)" id="likeButton"> <!-- DEBUG -->
                        <span>👍</span>
                    </button>
                    <span id="likeCount" th:text="${videoLikes}">Количество лайков</span>
                    <button class="action-button" onclick="onVideoMark(2)" id="dislikeButton">
                        <span>👎</span>
                    </button>
                    <span id="dislikeCount" th:text="${videoDislikes}">Количество дизлайков</span>
                </div>

                <div class="user-info">
                    <div class="user-avatar">
                        <img th:src="${'/' + video.getAuthor().getImagePath()}" alt="Avatar">
                    </div>
                    <div>
                        <div class="channel-name" th:text="${video.getAuthor().login}">Автор видео</div>
                        <div class="channel-subs" th:text="${subscribers} + ' подписчиков'">Число подписчиков</div>
                    </div>
                    <div th:if="${(currentUserId == null) || (video.getAuthor().getUserId() != currentUserId)}">
                        <form th:action="@{/api/user/subscribe}" method="post" class="user-info">
                            <input type="hidden" name="author" th:value="${authorId}">
                            <input type="hidden" name="actionSubscribeEnum" th:value="${isSubscribed ? 'UNSUBSCRIBE' : 'SUBSCRIBE'}">
                            <button class="subscribe-button" type="submit" th:text="${isSubscribed ? 'Отписаться' : 'Подписаться'}">Подписаться</button>
                        </form>
                    </div>
                    <div th:if="${(currentUserId != null) && (video.getAuthor().getUserId() == currentUserId)}">
                        <button class="subscribe-button">Я - автор</button>
                    </div>

                </div>

                <div class="video-description" th:text="${video.description}">
                    Описание видео
                </div>
            </div>
            <div class="comments-section">
                <h2 class="comments-title">Комментарии</h2>
                <form class="comment-form" th:action="@{/api/video/{videoId}/comment(videoId=${video.getVideoId()})}" method="post">
                    <textarea class="reply-input" name="commentText" placeholder="Добавьте комментарий..." required></textarea>
                    <input type="hidden" class="parentId" th:value="null" />
                    <button class="comment-submit" type="submit">Отправить</button>
                </form>
            </div>
            <div class="comment-list">
                <div class="comment-item" th:each="entry : ${commentTree}">
                    <div class="comment-header">
                        <img class="user-avatar" th:src="${'/' + entry.key.user.imagePath}" alt="Avatar">
                        <span class="comment-author" th:text="${entry.key.user.username}">Пользователь</span>
                    </div>
                    <div class="comment-body">
                        <p class="comment-text" th:text="${entry.key.text}">Текст комментария</p>
                        <div class="comment-actions">
                            <form th:action="@{/api/video/{videoId}/comment/{commentId}/like(videoId=${video.getVideoId()}, commentId=${entry.key.getCommentId()}, markId=1)}" method="post">
                                <input type="hidden" class="commentId" th:value="${entry.key.commentId}" />
                                <input type="hidden" class="markId" th:value="1" />
                                <button type="submit" class="comment-like-button" data-mark-id="1">👍</button>
                                <span class="comment-like-count" th:text="${entry.key.getLikesCount()}">0</span>
                            </form>
                            <form th:action="@{/api/video/{videoId}/comment/{commentId}/like(videoId=${video.getVideoId()}, commentId=${entry.key.getCommentId()}, markId=2)}" method="post">
                                <input type="hidden" class="commentId" th:value="${entry.key.commentId}" />
                                <input type="hidden" class="markId" th:value="2" />
                                <button type="submit" class="comment-like-button" data-mark-id="2">👎</button>
                                <span class="comment-dislike-count" th:text="${entry.key.getDislikesCount()}">0</span>
                            </form>
                            <button class="reply-button" th:attr="data-comment-id=${entry.key.getCommentId()}" onclick="toggleReplyForm(this)">Ответить</button>
                        </div>
                    </div>
                    <div class="reply-form" style="display: none;">
                        <form th:attr="data-parent-id=${entry.key.getCommentId()}" th:action="@{/api/video/{videoId}/comment(videoId=${video.getVideoId()})}" method="post">
                            <textarea class="reply-input" name="commentText" placeholder="Ваш ответ..." required></textarea>
                            <input type="hidden" class="parentId" th:value="${entry.key.commentId}" />
                            <button class="reply-submit" type="submit">Отправить</button>
                        </form>
                    </div>

                    <div class="replies" th:if="${entry.value.size() > 0}">
                        <div class="comment-item" th:each="reply : ${entry.value}">
                            <div class="comment-header">
                                <img class="user-avatar" th:src="${'/' + reply.user.imagePath}" alt="Avatar">
                                <span class="comment-author" th:text="${reply.user.username}">Пользователь</span>
                            </div>
                            <div class="comment-body">
                                <p class="comment-text" th:text="${reply.text}">Ответ на комментарий</p>
                            </div>
                            <div class="comment-actions">
                                <form th:action="@{/api/video/{videoId}/comment/{commentId}/like(videoId=${video.getVideoId()}, commentId=${reply.getCommentId()}, markId=1)}" method="post">
                                    <input type="hidden" class="commentId" th:value="${reply.getCommentId()}" />
                                    <input type="hidden" class="markId" th:value="1" />
                                    <button type="submit" class="comment-like-button">👍</button>
                                    <span class="comment-like-count" th:text="${reply.getLikesCount()}">0</span>
                                </form>
                                <form th:action="@{/api/video/{videoId}/comment/{commentId}/like(videoId=${video.getVideoId()}, commentId=${reply.getCommentId()}, markId=2)}" method="post">
                                    <input type="hidden" class="commentId" th:value="${reply.getCommentId()}" />
                                    <input type="hidden" class="markId" th:value="2" />
                                    <button type="submit" class="comment-like-button">👎</button>
                                    <span class="comment-dislike-count" th:text="${reply.getDislikesCount()}">0</span>
                                </form>
                                <button class="reply-button" onclick="toggleReplyForm(this)">Ответить</button>
                                <div class="reply-form" style="display: none;">
                                    <form th:data-parent-id="${reply.getCommentId()}" th:action="@{/api/video/{videoId}/comment(videoId=${video.getVideoId()})}" method="post">
                                        <textarea class="reply-input" name="commentText" placeholder="Ваш ответ..." required></textarea>
                                        <input type="hidden" class="parentId" th:value="${entry.key.commentId}" />
                                        <button class="reply-submit"  th:data-parent-id="${entry.key.getCommentId()}" type="submit">Отправить</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <div class="recommended-video">
                <div class="recommended-thumbnail"></div>
                <div class="recommended-info">
                    <h4>Как создать видеохостинг за 10 минут</h4>
                    <div class="recommended-channel">RadikTube</div>
                    <div class="recommended-meta">124K просмотров · 2 дня назад</div>
                </div>
            </div>

            <div class="recommended-video">
                <div class="recommended-thumbnail"></div>
                <div class="recommended-info">
                    <h4>Spring Boot для начинающих</h4>
                    <div class="recommended-channel">Java Guru</div>
                    <div class="recommended-meta">87K просмотров · 1 неделя назад</div>
                </div>
            </div>

            <div class="recommended-video">
                <div class="recommended-thumbnail"></div>
                <div class="recommended-info">
                    <h4>Thymeleaf - полный курс</h4>
                    <div class="recommended-channel">Web Dev</div>
                    <div class="recommended-meta">156K просмотров · 3 недели назад</div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="fragments/footer.html"></div>
</body>
</html>